body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
}

#exportForm input.input-txt {
  margin-left:5px;
  margin-right:5px;
}

.jconfirm {
  white-space: pre;
  word-wrap: break-word;
}

@font-face {	
  font-family: Aliquam;
  src: url(fonts/AliquamREG.ttf);
}

:focus {
  outline: none;
}

.row {
  margin: 0px auto;
}

.container-fluid {
  padding: 0px;
}

header {
  padding: 15px 0px;
  text-align: center;
  vertical-align: top;
  height: 75px;
  background: #efefef;
  border-bottom: 3px solid #29b6f6
}

header > div {
  float: left;
  margin-right: 10px;
  text-align: left;
  vertical-align: top;
}

header .innerNav, header .dropdown, header .logo {
  vertical-align: top;
  display: inline-block;
}

header .logo h1 {
  font-family: Aliquam, Arial, sans-serif;
  font-size: 30px;
  margin: 0px -20px 0px 20px;
}

header .innerNav span {
  margin: 10px 7px;
  cursor: pointer;
  transition: .25s ease;
}

header .innerNav span:hover {
  font-size: 16px;
  margin: 8px 6px;
  color: #2126A8;
}

header .connections {
  margin: 0px 35px;
}

header .dropdown {
  width: 487px;
}

header .innerNav {
  margin-right: -4px;
}

header .connections label, header .tables label {
  text-align: center;
  display: block;
  font-weight: normal;
  color: #999;
  font-variant: small-caps;
  margin-top: -4px;
  background-color: #efefef;
}

header .selectize-dropdown-content > div {
  margin-left: 0px;
}

header .label {
  color: #000;
}

header .tables {
  float: right;
}

#tables_left {
  width: 25px;
  float: left;
  padding-top: 10px;
}

#tables_right {
  width: 300px;
  position:relative;
  float:left;
}

header .otherNav {
  float: right;
}

header .otherNav span {
  display: inline-block;
  margin: 10px;
  transition: .5s ease;
  cursor: pointer;
}

header .otherNav span:hover {
  transform: rotate(180deg);
}

#content .hoverContentNav {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#content .hoverContentNav span {
  background: rgba(19, 37, 92, .4);
  color: #efefef;
  font-size: 12px;
  border-radius: 180px;
  width: 30px; height: 30px;
  text-align: center;
  line-height: 30px;
}

#controlButtonPane {
  position: fixed;
  bottom: 35px;
  right: 10px;
}

.hidden{
visibility: hidden;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pjFix {
      margin-bottom: 2px;
      font-size: 16px;
}


.htCore > tbody > tr:nth-child(even) > td {
    background-color: #F2F2F2;
}


/*
.htCore > tbody > tr:nth-child(odd) > td {
    background-color: red;
}

.handsontable th 
{
    font-weight:bold;
}
*/

.htCore td.hot_search_found {
  color: #f8f8ff;
  background: #87CEFA;
}

#hot_search_panel {
  width:250px;
  height:40px;
  bottom:0px;
  right:5px;
  position:fixed;
  opacity:.5
}

#hot_search {
    display:none;
}

#content
{
  background-color:white;
  height: calc(100vh - 75px);
  opacity:0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@-webkit-keyframes makeitglow {
  to {
    border-color: #53b367;
    -webkit-box-shadow: 0 0 10px #53b367;
    -moz-box-shadow: 0 0 10px #53b367;
    box-shadow: 0 0 10px #53b367;
  }
}

.glowBase {
  
  -webkit-animation: makeitglow 1.0s infinite alternate;  
   -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
     -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
          transition: border 1.0s linear, box-shadow 1.0s linear;
}

.selectize-dropdown, .selectize-dropdown.form-control{
  max-height: 90vh;
}

.selectize-dropdown-content{
  max-height: 100%;
  height: 100%;
}